<p>Hello {{first_name}} {{last_name}}</p>
<p>{{admin_name}} has assigned new content on Grow2Learn</p>
<p>Kindly log into Grow2Learn to see your notification.</p>
<a href="https://grow2learn.com.au/l/member">Click to Login</a>
<p>Regards,</p>
<b>Grow2Learn</b>